name: Build-docs

on:
  push:
    branches:
    - test

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          version: "latest"

      - name: Build
        run: bash build-docs.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GX_TOKEN }}
